.accessoris-section{
    width: 90%;
    margin: auto;
    padding: 50px 0px;

}
.accessrios_select_category{
    margin-bottom: 15px;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
}

.accessrios_select_category h3{
    text-align: left;
}
.css-i4bv87-MuiSvgIcon-root{
    width: 0.554em;

}